body {
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif
}

/* alignment not to center h3 or List */
h2, h3, ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 300px;
  text-align: left;
}

#headingText {
  font-size: 16px;
}

li { 
  margin: 8px;  
  font-size: 18px;
}

li:hover {
  box-shadow: 3px 5px 10px 3px mediumslateblue;
  border-radius: 8px;
  cursor:pointer ;
  width: fit-content;
}